@import '../../style/vars';
@import '../../style/mixins';

.bloomio-project-page {
  line-height: 2em;
  margin: 2em auto;
  width: 70%;

  @include sm {
    width: 95%;
  }

  #bloomio-banner {
    background-image: url('../../assets/bloomio-banner.jpg');
  }
}