@import '../../style/vars';
@import '../../style/mixins';

.PDF-Viewer {
  margin-top: 5em;
  
  canvas {
    border: 0.5em solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px $selectable;
    max-width: 100%;
    min-height: 388.7px;
  }
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding-left: 0;

  .resume-btn {
    flex-shrink: 1rem;

    background: none;
    border: 2px solid;
    border-radius: 3px;
    color: var(--color, $buttonBE);
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;

    @include transition(0.25s);

    @include sm {
      font-size: 1.2rem;
      padding: 0.5em 1em;
    }

    &:hover { 
      border-color: var(--hover, $buttonAE);
      box-shadow: 0 0.5em 0.5em -0.4em var(--hover, $buttonAE);
      color: $buttonAE;
      text-shadow: 0 1px;

      @include transform(translateY(-0.25em));
    }
  }

  h2 {
    font-size: 3rem;
    margin: 0 3rem;

    @include sm {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
}