@import '../../style/vars';

.about-page {
  line-height: 2em;
  width: 600px;
  margin: 2em auto;
  
  h1 {
    margin: 6em 0 1em 0;
  }

  h2 {
    text-align: left;
  }

  p {
    text-align: left;
    color: $selectable;
    margin: 1em 0;
  }

  img {
    width: 60%;
    border: 1px solid black;
    box-shadow: 3px 3px 4px $selectable;
    margin-bottom: 4em;
  }

  strong {
    color: #969696;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }

  a:hover {
    text-decoration: underline;
  }

  button {  
    color: var(--color);
    transition: 0.25s;
    border-radius: 3rem;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: $buttonAE;
      text-shadow: 0 1px;
    }
  }

  .raise:hover,
  .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }

  $colors: (
    raise: $buttonBE,
  );

  @each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 60deg)};
    }
  }
}

.bio {
  margin-bottom: 3em;
}