@import '../../style/vars';
@import '../../style/mixins';

.about-page {
  line-height: 2em;
  margin: 2em auto;
  width: 600px;

  @include sm {
    width: 95%;
    margin: 2em 0.5em;
  }
  
  h1 {
    margin: 6em 0 1em 0;
  }

  h2 {
    text-align: left;
  }

  section {
    p {
      text-align: left;
      margin: 1em 0;
    }
  }

  .profile-pic-wrapper {
    min-height: 500px;

    img {
      width: 60%;
      border: 1px solid black;
      box-shadow: 3px 3px 4px $selectable;
      margin-bottom: 4em;
    }
  }
}

.bio {
  margin-bottom: 3em;
}