@import '../../style/vars';
@import '../../style/mixins';

.contact-page {
  img {
    border: ridge 3px white;
    border-radius: 50%;
    box-shadow: 5px 3px 4px $selectable;
    float: none;
    margin: 6em auto 2em auto;
    width: 10em;

    @include sm {
      margin: 8em auto 2em auto;
    }
  }

  p {
    font-size: 3em;
    line-height: 1.2;
    margin: 0 auto 2em auto;
  }

  .contact-svg-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 0 auto 4em auto;
    width: 50%;
    
    svg {
      width: 10em;

      @include sm {
        margin: 0;
      }
    }
  }
}