@import '../../style/vars';

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    margin-top: 2em;
    padding-left: 3em;
    font-size: 2em;
  }

  h1 a:-webkit-any-link {
    text-decoration: none;
    color: black;
  }

  h1 a:hover {
    text-shadow: 0 1px;
  }

  nav {
    margin-top: 3em;
  }
}

// -------------------------------------------------------------------------------
// Styling for each individual Link in the Navigation bar
// -------------------------------------------------------------------------------
.nav-button-container {
  display: inline-block;

  .link-button {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    text-align: left;
    font-size: 0.8em;
  }

  .link-button a {
    display: inline-block;
    margin: 1em 3em;
    text-decoration: none;
    color: $off-white;
  }

  .link-button a:hover {
    color: black;
  }
}

// -------------------------------------------------------------------------------
// Styling for each drop-down section which contains a list of Links
// -------------------------------------------------------------------------------
.dropdown {
  overflow: inherit;
  display: inline-block;
  
  .dropbutton {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.3em;
    color: $off-white;
    text-align: left;
  }

  .dropbutton:hover {
    color: black;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    font-size: 1.5em;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-list a:-webkit-any-link {
    text-decoration: none;
    color: $off-white;
    display: block;
    text-align: left;
    margin: 1em 0;
  }

  .dropdown-list a:-webkit-any-link:hover {
    color: black;
  }
}

.dropdown:hover .dropdown-list {
  display: block;
}

// -------------------------------------------------------------------------------
// Icomoon SVGs
// -------------------------------------------------------------------------------
.icomoon-svgs {
  width: 1em;
  height: 1em;
}

.caret {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

// -------------------------------------------------------------------------------
// Animation for the drop-down section SVGs
// -------------------------------------------------------------------------------
.dropdown:hover .dropbutton .caret {
  transform: rotate(90deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}