@import '../../style/vars';

header {
  display: flex;
  justify-content: space-between;
  font-family: $amiko;
  text-decoration: none;

  h1:hover {
    text-shadow: 0 3px; 
  }

  nav {
    margin-top: 1em;
  }

  li {
    display: inline-block;
    margin: 1vw 3vw;
    text-decoration: none;
  }

  li a {
    text-decoration: none;
    color: $selectable;
  }

  li a:hover {
    color: black;
  }
}