@import '../../style/vars';
@import '../../style/mixins';

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  background-color: $background-banner;

  @include sm {
    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
    min-height: 6em;

    &:focus, &:hover ul {
      display: block;
    }
  }

  @include md {
    font-size: 0.8em;
  }

  h1 {
    margin-top: 2em;
    font-size: 1.5em;

    @include sm {
      display: none;
    }
  }

  h1 a:-webkit-any-link {
    text-decoration: none;
    color: $off-white;
  }

  h1 a:hover {
    text-shadow: 0 1px;
    color: $buttonAE;
  }

  nav {
    margin-top: 3em;
  }

  ul {
    background-color: gray;
    display: none;
    max-height: 50%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    li a {
      border-right: 1px solid #f4f4f4;
      color: black;
      display: block;
      padding: 20px 20px;
      text-decoration: none;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

// -------------------------------------------------------------------------------
// NAVIGATION & MENU DISPLAYS (left & right)
// -------------------------------------------------------------------------------
.nav-left {
  @include sm {
    display: none;
  }
}

.nav-right {
  @include sm {
    display: none;
  }
}

.menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;

  &:hover ~ .menu-list{
    display: block;
    float: left;
  }

  @include sm {
    display: inline-block;
    font-size: 3em;

    position: absolute;
    top: 0;
    right: 0;
  }
}

// -------------------------------------------------------------------------------
// Styling for each individual Link in the Navigation bar
// -------------------------------------------------------------------------------
.nav-button-container {
  display: inline-block;

  .link-button {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    text-align: left;
    font-size: 0.8em;
  }

  .link-button a {
    display: inline-block;
    text-decoration: none;
    color: $off-white;
  }

  .link-button a:hover {
    color: $buttonAE;
  }
}

// -------------------------------------------------------------------------------
// Styling for each drop-down section which contains a list of Links
// -------------------------------------------------------------------------------
.dropdown {
  overflow: inherit;
  display: inline-block;
  
  .dropbutton {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.2em;
    color: $off-white;
    text-align: left;
  }

  .dropbutton:hover {
    color: $buttonAE;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    font-size: 1.2em;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-list a:-webkit-any-link {
    text-decoration: none;
    color: $off-white;
    display: block;
    text-align: left;
    margin: 1em 0;
  }

  .dropdown-list a:-webkit-any-link:hover {
    color: $buttonAE;
  }
}

.dropdown:hover .dropdown-list {
  display: block;
}

// -------------------------------------------------------------------------------
// Icomoon SVGs
// -------------------------------------------------------------------------------
.icomoon-svgs {
  height: 1em;
  width: 1em;

  path {
    fill: $buttonBE;
  }
}

.caret {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 1em;
  height: 1em;
}

// -------------------------------------------------------------------------------
// Animation for the drop-down section SVGs
// -------------------------------------------------------------------------------
.dropdown:hover .dropbutton .caret {
  transform: rotate(90deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}