@import 'vars';

* {
  outline: red dashed 1px;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  width:100%;
}

img {
  max-width: 900px;
}

.app {
  background-color:#db6c27;
  background: rgba(219,108,39,0.92);
  position:absolute;
  left:15%;
  right:15%;
  top:0;
  min-height:100vh;
}

h1, h2 {
  font-family: $berkshire-swash;
}

p {
  font-family: $amiko;
  max-width: $max-width;
  margin: 2em auto;
}

input {
  margin-right: 10px;
}

.landing {
  width: 80%;
  margin: 5vw auto;

  p {
    font-size: 3em;
  }
}

.image-container {
  max-width: 900px;
  margin: 3vw auto;
  text-align: center;
  position: relative;
}

.image-text {
  font-size: 4em;
  position: absolute;
}

.writing-img-text {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $off-white;
  font-family: $damion;
  font-size: 6em;
}

.disc-golf-text {
  top: 65%;
  left: 7%;
  font-family: $audiowide;
}

.programming-text {
  top: 15%;
  left: 2%;
  color: white;
  font-family: $press-start-2P;
  font-size: 2.5em;
}

@media (max-width: 600px) {

  .app {
    position:absolute;
    left:5%;
    right:5%;
  }

}

@media screen and (max-width: 600px) {

  .app {
    position:absolute;
    left:5%;
    right:5%;
  }

}
