@import 'vars';
@import 'mixins';

body {
  @include background-size(cover);

  background-color: $background;
  background-size: cover;
  color: $off-white;
  font-family: $poppins;
  text-align: center;
  width: 100%;
}

img {
  max-width: 900px;
}

p {
  margin: 2em auto;
  max-width: $max-width;
}

input {
  margin-right: 10px;
}

// -------------------------------------------------------------------------------------------------
// TYPOGRAPHY STYLING FOR HERO TEXT AT THE TOP OF EACH PAGE
// -------------------------------------------------------------------------------------------------
.hero-text {
  color: $buttonBE;
  font-size: 3em;
  line-height: 1.2;
  margin: 4em auto 2em auto;

  @include sm {
    font-size: 1.5em;
    margin: 6em auto 1em auto;
  }
}

.external-link {
  text-decoration: none;
  color: $buttonBE;
  font-weight: 400;

  &:hover {
    color: $buttonAE;
  }
}

strong {
  color: $buttonAE;
}

// -------------------------------------------------------------------------------------------------
// PARALLAX IMAGE SCROLLING
// -------------------------------------------------------------------------------------------------
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// -------------------------------------------------------------------------------------------------
// SVG STYLING
// -------------------------------------------------------------------------------------------------
.devicon-svg {
  width: 7em;
}

.other-svgs {
  margin:  0 1em;
  width: 5em;
}

.wiggle {

  &:hover {
    @include animation('wiggle 600ms 1 ease-in-out');
    @include keyframes(wiggle) {
      0% { transform: rotate(10deg); }
      25% { transform: rotate(-10deg); }
      50% { transform: rotate(15deg); }
      75% { transform: rotate(-5deg); }
      100% { transform: rotate(0deg); }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// LANDING PAGE STYLING
// -------------------------------------------------------------------------------------------------
.landing-page {
  margin: 5vw auto;
  width: 80%;
}

// -------------------------------------------------------------------------------------------------
// PAGE LOAD
// -------------------------------------------------------------------------------------------------

.fade-in {
  opacity: 0;
  @include animation('fadeIn 500ms ease-in 1 200ms forwards');
  @include keyframes(fadeIn) { from { opacity:0; } to { opacity:1; } }
}

// -------------------------------------------------------------------------------------------------
// BUTTON STYLING
// -------------------------------------------------------------------------------------------------
button a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

.raise {  
  background: none;
  border: 2px solid;
  border-radius: 3rem;
  color: var(--color);
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    color: $buttonAE;
    text-shadow: 0 1px;
    transform: translateY(-0.25em);
  }
}

$colors: (
  raise: $buttonBE,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 180deg)};
  }
}