@import 'vars';

// * {
//   outline: red dashed 1px;
// }

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: $background;
  background-size: cover;
  color: $off-white;
  font-family: $poppins;
  text-align: center;
  width:100%;
}

img {
  max-width: 900px;
}

p {
  margin: 2em auto;
  max-width: $max-width;
}

input {
  margin-right: 10px;
}

// -------------------------------------------------------------------------------------------------
// TYPOGRAPHY STYLING FOR HERO TEXT AT THE TOP OF EACH PAGE
// -------------------------------------------------------------------------------------------------
.hero-text {
  color: $buttonBE;
  font-size: 3em;
  line-height: 1.2;
  margin: 4em auto 2em auto;
}

.external-link {
  text-decoration: none;
  color: $buttonBE;
  font-weight: 400;

  &:hover {
    color: $buttonAE;
  }
}

strong {
  color: $buttonAE;
}

// -------------------------------------------------------------------------------------------------
// SVG STYLING
// -------------------------------------------------------------------------------------------------
.devicon-svg {
  width: 7em;
}

.other-svgs {
  margin:  0 1em;
  width: 5em;
}

// -------------------------------------------------------------------------------------------------
// LANDING PAGE STYLING
// -------------------------------------------------------------------------------------------------
.landing-page {
  margin: 5vw auto;
  width: 80%;

  .image-container {
    box-shadow: 3px 3px 4px $selectable;
    margin: 7em auto 5em auto;
    max-width: 900px;
    position: relative;
    text-align: center;
  }
  
// -------------------------------------------------------------------------------------------------
// IMAGE TYPOGRAPHY STYLING
// -------------------------------------------------------------------------------------------------
  .image-text {
    color: $off-white;
    font-size: 4em;
    position: absolute;
  }
  
  .writing-img-text {
    font-family: $damion;
    font-size: 6em;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
  
  .disc-golf-text {
    font-family: $audiowide;
    left: 7%;
    top: 65%;
  }
  
  .programming-text {
    font-family: $press-start-2P;
    font-size: 2.5em;
    left: 2%;
    top: 15%;
  }
}

// -------------------------------------------------------------------------------------------------
// BUTTON STYLING
// -------------------------------------------------------------------------------------------------
button a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

.raise {  
  background: none;
  border: 2px solid;
  border-radius: 3rem;
  color: var(--color);
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    color: $buttonAE;
    text-shadow: 0 1px;
    transform: translateY(-0.25em);
  }
}

$colors: (
  raise: $buttonBE,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 180deg)};
  }
}