@import url('https://fonts.googleapis.com/css?family=Audiowide|Damion|Poppins|Press+Start+2P'); 

// -------------------------------------------------------------------------
// TYPOGRAPHY
// -------------------------------------------------------------------------

// MAIN FONT
$poppins: 'Poppins', sans-serif;

// IMAGE FONTS
$audiowide: 'Audiowide', cursive;
$damion: 'Damion', cursive;
$press-start-2P: 'Press Start 2P', cursive;
$max-width: 900px;

// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------
$buttonBE: #3e87ec;
$buttonAE: #a33eec;
$off-white: rgb(250, 250, 250);
$selectable: #969696;
$heroku-purple: #6762a6;