@import '../../style/vars';

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $background-banner;
  font-size: 1em;
  margin-top: 5em;

  .SVG-container {
    font-size: 2em;

    svg {
      margin: 0.5em 0.5em;

      path {
        fill: $buttonAE;
      }
    }
  }
}