@import '../../style/vars';
@import '../../style/mixins';

.background-page {
  line-height: 2em;
  width: 600px;
  margin: 2em auto;

  @include sm {
    width: 95%;
    margin: 2em 0.5em;
  }

  h1 {
    margin: 6em auto;
    line-height: 1.5;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    font-size: 1em;
    color: $off-white;
  }

  section {
    text-align: left;
    margin-bottom: 3em;

    article {
      margin-bottom: 6em;
    }
  }
}