@import '../../style/vars';
@import '../../style/mixins';

.background-page {
  line-height: 2em;
  margin: 2em auto;
  width: 600px;

  @include sm {
    margin: 2em 0.5em;
    width: 95%;
  }

  h1 {
    line-height: 1.5;
    margin: 6em auto;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    color: $off-white;
    font-size: 1em;
    margin-top: 0;
  }

  section {
    margin-bottom: 3em;
    text-align: left;

    article {
      margin-bottom: 6em;
    }
  }
}